<div class="landing-tabs">
    <div class="container">
        <ul class="nav nav-tabs">
            <%= active_link_to "Our Company", [:about], wrap_tag: :li, active: :exclusive %>
            <%= active_link_to "Our Team", [:our_team], wrap_tag: :li, active: :exclusive %>
        </ul>
    </div>
</div>