<div class="landing-blockquote">
    <div class="container">
        <blockquote>
            <p>Ready for the best hosting experience you'll ever have?</p>

            <%= link_to 'Get Started', [:new, :users, :sign_up], class: 'btn btn-primary btn-lg' %>
        </blockquote>
    </div>
</div>