<% content_for :title do %>Acceptable Use Policy<% end %>

<div class="landing-intro">
    <div class="container">
        <div class="jumbotron">
            <h1 class="animation-pullDown">Acceptable Use Policy</h1>
        </div>
    </div>
</div>

<div class="landing-section"><div class="container">
    <h3>Introduction and Purpose</h3>
    <p>This document sets forth the principles, guidelines and requirements of the Acceptable Use Policy of betaforce networks, llc ("Company") governing the use by the Customer ("Customer") of the Company's services and products ("Services and Products"). The Purpose of the betaforce networks, llc Acceptable Use Policy, hereinafter referred to as the AUP, is to comply with all federal, state, and local laws coupled with protecting the network security, network availability, physical security, Customer privacy, and other factors affecting the services provided by betaforce networks, llc. betaforce networks, llc reserves the right to impose reasonable rules and regulations regarding the use of its services provided to all Customers and such rules and regulations are subject to change. Such rules and regulations are located on the Internet at <a href="http://www.vnucleus.com/aup/">http://www.vnucleus.com/aup/</a>. The AUP is not an all inclusive exhaustive list and betaforce networks, llc reserves the right to modify the AUPs at any time as needed, effective upon either the posting of the modified AUPs to <a href="http://www.vnucleus.com/aup/">http://www.vnucleus.com/aup/</a> or notification to the Customer via their client portal. Acceptance and execution of the Master Services Agreement binds all parties to betaforce networks, llc stated AUP at the time the contract is executed and as modified from time to time. Any violation of the AUP may result in the suspension or termination of your account or such other action as betaforce networks, llc deems appropriate. No credit will be issued for any interruption in service resulting from policy violations.</p>

    <h4>VIOLATION OF ANY SECTION OF THE AUP IS STRICTLY PROHIBITED AND MAY RESULT IN THE IMMEDIATE TERMINATION OR SUSPENSION OF THE SERVICES YOU RECEIVE FROM betaforce networks, llc.</h4>

</div></div><div class="landing-section"><div class="container">

    <h3>Compliance with Law</h3>
    <p>Customer shall not post, transmit, retransmit or store material on or through any of Services or Products which, in the sole judgment of the Company (i) is in violation of any local, state, federal or non-United States law or regulation, (ii) threatening, obscene, indecent, defamatory or that otherwise could adversely affect any individual, group or entity (collectively, "Persons") or (iii) violates the rights of any person, including rights protected by copyright, trade secret, patent or other intellectual property or similar laws or regulations including, but not limited to, the installation or distribution of "pirated" or other software products that are not appropriately licensed for use by Customer. Customer shall be responsible for determining what laws or regulations are applicable to its use of the Services and Products.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>Customer Security Obligation</h3>
    <p>Each Customer must use reasonable care in keeping each server or network devices attached to betaforce networks, llc infrastructure up-to-date and patched with the latest security updates. Failure to use reasonable care to protect your server may result in a security compromise by outside sources. betaforce networks, llc is not responsible for Customer server level security unless a security administration package, or firewall security administration package is associated with the Customer server. A compromised server creating network interference will result in immediate Customer notification and will be disconnected from the network immediately so as to not directly affect other Customers. No service credits will be issued for outages resulting from disconnection due directly to breached server security. The Customer is solely responsible for any breaches of security affecting servers under Customer control. If a Customer intentionally creates a security breach, the cost to resolve any damage to Customer's server or other servers will be charged directly to the Customer. The labor used to resolve such damage is categorized as emergency security breach recovery and is currently charged at $350 USD per hour.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>System and Network Security</h3>
    <p>Violations of system or network security are strictly prohibited, and may result in criminal and civil liability. betaforce networks, llc investigates all incidents involving such violations and will cooperate with law enforcement if a criminal violation is suspected.</p>
    <p>Examples of system or network security violations include, without limitation, the following:</p>
    <ul>
        <li>Introduction of malicious programs into the network or server (example: viruses, worms, Trojan Horses and other executables intended to inflict harm).</li>
        <li>Effecting security breaches or disruptions of Internet communication and/or connectivity. Security breaches include, but are not limited to, accessing data of which the Customer is not an intended recipient or logging into a serve or account that the Customer is not expressly authorized to access. For purposes of this section, "disruption" includes, but is not limited to port scans, flood pings, email-bombing, packet spoofing, IP spoofing and forged routing information.</li>
        <li>Executing any form of network activity that will intercept data not intended for the Customer's server.</li>
        <li>Circumventing user authentication or security of any host, network or account.</li>
        <li>Interfering with or denying service to any user other than the Customer's host (example: denial of service attack or distributed denial of service attack).</li>
        <li>Using any program script/command, or sending messages of any kind, designed to interfere with or to disable, a user's terminal session, via any means, locally or via the Internet.</li>
        <li>Failing to comply with the Company's procedure relating to the activities of Customers on the Company's premises. Violators of the policy are responsible, without limitations, for the cost of labor to correct all damage done to the operation of the network and business operations supported by the network. Such labor is categorized as emergency security breach recovery and is currently charged at $350 USD per hour required. Network interference by any Customers that may cause or is currently causing network interference with another Customer will be disconnected immediately. No service credits will be issued to Customers disconnected for network violations.</li>
    </ul>

</div></div><div class="landing-section"><div class="container">

    <h3>Internet Etiquette</h3>
    <p>Each Customer is expected to execute reasonable Internet etiquette (Netiquette). The Customer will comply with the rules appropriate to any network to which betaforce networks, llc may provide access. The Customer should not post, transmit, or permit Internet access to information the Customer desires to keep confidential. The Customer is not permitted to post any material that is illegal, libelous, and tortuous, indecently depicts children or is likely to result in retaliation against betaforce networks, llc by offended users. betaforce networks, llc reserves the right to refuse or terminate service at any time for violation of this section. This includes advertising services or sites via IRC or USENET in clear violation of the policies of the IRC channel or USENET group.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>Child Pornography</h3>
    <p>betaforce networks, llc will cooperate fully with any criminal investigation into a Customer's violation of the Child Protection Act of 1984 concerning child pornography. Customers are ultimately responsible for the actions of their clients over the betaforce networks, llc network, and will be liable for illegal material posted by their clients.</p>
    <p>According to the Child Protection Act, child pornography includes photographs, films, video or any other type of visual presentation that shows a person who is or is depicted as being under the age of eighteen years and is engaged in or is depicted as engaged in explicit sexual activity, or the dominant characteristic of which is the depiction, for a sexual purpose, of a sexual organ or the anal region of a person under the age of eighteen years or any written material or visual representation that advocates or counsels sexual activity with a person under the age of eighteen years.</p>
    <h4>Violations of the Child Protection Act may be reported to the U.S. Customs Agency at 1-800-BEALERT</h4>

</div></div><div class="landing-section"><div class="container">

    <h3>Email Policy</h3>
    <h4>Mass Mailings</h4>
    <p>betaforce networks, llc has a zero-tolerance policy on SPAM, Junk E-mail or UCE. Spam, Junk-mail and UCE are defined as: the sending of the same, or substantially similar, unsolicited electronic mail messages, whether commercial or not, to more than one recipient. A message is considered unsolicited if it is posted in violation of a newsgroup charter or if it is sent to a recipient who has not requested or invited the message. UCE also includes e-mail with forged headers, compromised mail server relays, and false contact information. This prohibition extends to the sending of unsolicited mass mailings from another service, which in any way implicates the use of betaforce networks, llc whether or not the message actually originated from our network.</p>

    <h4>Mailing Lists</h4>
    <p>betaforce networks, llc mass mailing rules also apply to mailing lists, list servs, or mailing services you may contract with. The policy is stated as follows: An acceptable mailing list will be focused at a targeted audience that has voluntarily signed up for your e-mail information or that has made their e-mail address available for distribution of information from you. The list must also allow for automatic removal by all end Customers with non-distribution in the future.</p>
    <p>If your actions have caused betaforce networks, llc IP address ranges to be placed on blackhole lists and other mail filtering software systems used by companies on the internet, you will be assessed a $750 charge to your account and $350 per hour for administrative charges incurred to remove and protect IP ranges.</p>
    <p>Violation of the above terms will result in one or all of the following:</p>
    <ul>
        <li>A warning via email or phone.</li>
        <li>Removal of DNS for the advertised / originating site.</li>
        <li>Temporary shutdown of the server or a block on outgoing mail.</li>
        <li>Null routing.</li>
    </ul>

    <p>Repeat violation of the above terms will result in the following actions:</p>
    <ul>
        <li>Immediate disconnection of service with no re-activation.</li>
        <li>$750 fee assessed to your account for violation.</li>
    </ul>

</div></div><div class="landing-section"><div class="container">

    <h3>Copyright Infringement</h3>
    <p>betaforce networks, llc's datacenter infrastructure, including network, leased hardware, co-location services, and other hardware located in the facility may only be used for lawful purposes. Transmission, distribution, or storage of any information, data or material in violation of United States or state regulation or law, or by the common law, is prohibited. This includes, but is not limited to, material protected by copyright, trademark, trade secret, or other intellectual property rights. Creative, utilizing, or distributing unauthorized copies of software are a violation of federal and state law. If you copy, distribute or install the software in ways that the license does not allow, you are violating federal copyright law. betaforce networks, llc will cooperate with all law enforcement agencies in relation to alleged copyright infringement housed in our datacenters.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>IP Allocation</h3>
    <p>betaforce networks, llc administers a network on which multiple Customer servers reside. Customers shall NOT use IP addresses that were not assigned to them by betaforce networks, llc, staff or network administrators. Any server utilizing IP addresses outside of the assigned range will be suspended from network access until such time as the IP addresses overlap can be corrected. Use of an unauthorized IP address will result in a charge of $50 per IP. Use of an unauthorized IP address creating a third party Customer outage will result in a $750 charge and termination of service until the IP allocation is resolved.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>IRC Policy</h3>
    <p>IRC Servers are not allowed.</p>

</div></div><div class="landing-section"><div class="container">

    <h3>Suspension and Cancellation</h3>
    <p>betaforce networks, llc reserves the right to suspend service to any Customer located in our datacenter for violation of the AUP. betaforce networks, llc will use reasonable care in notifying the Customer and in resolving the problem in a method resulting in the least amount of service interference as reasonably possible. betaforce networks, llc reserves the right to terminate service without notice for continued and repeated violations of the AUP. Continued violations of the AUP resulting in cancellation of services will also result in a fee in the amount of $750 and contract acceleration for all amounts outstanding under the contract term.</p>

</div></div>