<% content_for :title do %>Terms of Service<% end %>

<div class="landing-intro">
    <div class="container">
        <div class="jumbotron">
            <h1 class="animation-pullDown">Terms of Service</h1>
        </div>
    </div>
</div>

<div class="landing-section"><div class="container">

    <h3><span>Preface</span></h3>
    <p>betaforce networks, llc agrees to provide online virtual private servers for the client. You understand that you may use the services provided by betaforce networks, llc for business / commercial / personal websites or content. You also agree that you will, before activating or using a service, first agree to any and all additional policies which apply to the service being activated or used. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Identity Information</span></h3>
    <p>You agree that you as a client / member of betaforce networks, llc are legally responsible for all usage of your member account, and are at least 18 years of age. If you are under 18 years of age, you must have parental consent in order to sign up, and your account must be ordered by a parent or guardian, in his or her own name. You agree to supply betaforce networks, llc with a current and truthful name, postal address telephone number and email address for our records, and you have a continued obligation to keep this information current. You also agree that you are an authorized user of any payment method that you supply to us or to our payment processor, and you understand and agree that we have an obligation to fully investigate any possible fraudulent credit card use. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Content</span></h3>
    <p>You agree that all services provided by betaforce networks, llc will be used for lawful purposes only. Transmission, storage, linking to, or presentation of any information, data or material in violation of any United States Federal, State, City or International law is prohibited. This includes, but is not limited to: material of any unlawful, obscene, indecent, profane, libelous, offensive, pornographic, threatening, abusive, defamatory, or otherwise objectionable nature, copyrighted material, material that is threatening or obscene, or material protected by trade secrets and other statue. </p>
    <p>Examples of non-acceptable content include (but are not limited to):</p>
    <ul>
        <li>BiTTorrent Trackers / Seedboxes</li>
        <li>IRC (Internet Relay Chat) Services, including but not limited to IRCd, XDCC Bots, or FServs</li>
        <li>Tor exit nodes or other forms of anonymous proxies or VPN services, due to the type of traffic that flows through them violating other parts of our terms of service</li>
        <li>Pirated software</li>
        <li>Hacker utilities or archives</li>
        <li>Installation or distribution of a software product that is not appropriately licensed for use by you</li>
        <li>Data not intended for you by any method</li>
        <li>Spamming Software</li>
        <li>Automated or manual routines which consume excessive network bandwidth or computer resources software that circumvents user authentication or security of any host, network or account</li>
        <li>Trademarked or copyrighted material which you are not licensed to distribute</li>
    </ul>
    <p>You understand and agree that betaforce networks, llc will be the sole arbiter as to what constitutes a violation of this provision. </p>

</div></div><div class="landing-section"><div class="container">


    <h3><span>Accounts Exceeding Preset Limits</span></h3>
    <p>betaforce networks, llc accounts are allotted a preset amount of resources per month. You understand that overages may be billable. Transfer is only billed on outbound traffic. Transfer overages are billed at a rate of $0.10 USD per gigabyte on your server's renewal date.</p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Server Resources</span></h3>
    <p>You agree that if your web site abuses shared server resources (such as, but not limited to CPU time, disk I/O, and network resources), it can be suspended without notice, and you may be given an option of either upgrading your service level or reducing the resource used to an acceptable level. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Intellectual Property Rights</span></h3>
    <p>Material accessible to you through betaforce networks, llc services may be subject to protection under the United States or other copyright laws, or laws protecting trademarks, trade secrets or proprietary information. Except when expressly permitted by the owner of such rights, you agree not to use the betaforce networks, llc services in a manner that would infringe, violate, dilute or misappropriate any such rights, with respect to any material, which you access or receive through betaforce networks, llc. If you use a domain name in connection with betaforce networks, llc or similar service, you agree not to use that domain name in violation of any trademark, service mark, or similar rights of any third party. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Network Security</span></h3>
    <p>You agree that you may not use the betaforce networks, llc Network in an attempt to circumvent user authentication or security of any host, network, or account. This includes, but is not limited to, accessing data not intended for the customer, logging into a server or account the customer is not expressly authorized to access, password cracking, probing the security of other networks in search of weakness, or violation of any other organization's security policy. You also agree that you may not attempt to interfere or deny service to any user, host, or network. This includes, but is not limited to, flooding, mail bombing, or other deliberate attempts to overload or crash a host or network. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Refusal of Service</span></h3>
    <p>betaforce networks, llc reserves the right at its sole discretion to refuse or cancel service without refund. betaforce networks, llc also reserves the right to refuse and remove any information or materials, in whole or in part, that, in its sole discretion, are unacceptable, undesirable, or in violation of this agreement.</p>

</div></div><div class="landing-section"><div class="container">


    <h3><span>Spam or Unsolicited Email</span></h3>
    <p>You agree that you may not use the betaforce networks, llc Network, betaforce networks, llc equipment or any betaforce networks, llc email address in connection with the transmission of spam, flames, mail bombs, or substantially similar, unsolicited email messages. You agree that your domain may not be referenced as originator, intermediary, or reply-to address in any of the above. This prohibition extends to the sending of unsolicited mass mailings from another service that in any way implicates the use of the betaforce networks, llc Network, betaforce networks, llc equipment or any betaforce networks, llc email address. A message is considered unsolicited if it is posted in violation of a newsgroup charter or if it is sent to a recipient who has not requested or invited the message. For purposes of this provision, merely making one's email address accessible to the public will not constitute a request or invitation to receive messages. You understand and agree that betaforce networks, llc will be the sole arbiter as to what constitutes a violation of this provision. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Violations and Abuse</span></h3>
    <p>If any of the following events occurs, you agree to the provisions stated along with the occurring event: </p>
    <p>Attempts to undermine, slander, libel, threaten, swear at, or cause harm to a betaforce networks, llc server, customer, employee, or the company directly are strictly prohibited and grounds for immediate termination without refund. Spamming, or sending unsolicited mass email is strictly prohibited and grounds for the disabling or termination of your account. In addition, a penalty up to $500 for each spam policy violation may be imposed. Violation of system or network security, attempted or otherwise is strictly prohibited and grounds for immediate termination without refund. This may also incur criminal or civil liability. Abuse of the system via ANY script/program/code will result in a penalty up to $500, and possible termination of service. You also understand and agree that violation of any of betaforce networks, llc Rules and Regulations can result in a warning, suspension, or account termination. Accounts terminated due to policy violations will not be refunded. </p>
    <p>betaforce networks, llc will cooperate fully with investigations of violations of systems or network security at other sites, including cooperating with law enforcement authorities in the investigation of suspected criminal violations. In the event of illegal actions taken against betaforce networks, llc or related property, betaforce networks, llc will prosecute to the fullest extent of the law. </p>
    <p>betaforce networks, llc reserves the right to monitor the service electronically and to disclose any information as necessary to satisfy the law, or to protect itself or its clients/subscribers. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>DMCA Safe Harbor provisions [17 U.S.C. Sec 512]</span></h3>
    <p>In an effort to protect service providers on the Internet from liability for the activities of its users, betaforce networks, llc as an Online Service Provider (OSP), qualifies for safe harbor protection under the Digital Millenium Copyright Act (DMCA). Codified as section 512 of the Digital Millennium Copyright Act (DMCA), this new law exempts on-line service providers that meet the criteria set forth in the safe harbor provisions from claims of copyright infringement made against them that result from the conduct of their customers. These safe harbor provisions are designed to shelter service providers from the infringing activities of their customers. </p>
    <p>In order to facilitate the notification process in cases of infringement, OSP's which allow users to store information on their networks, such as a web hosting service, must designate an agent that will receive the notices from copyright owners that its network contains material which infringes their intellectual property rights. In order to comply with this provision, contact information for betaforce networks, llc's agent is specified below: </p>

<pre class="well">ATTENTION: Copyright Officer
betaforce networks, llc
16987 NW 19th Street
Pembroke Pines, Florida 33028
United States of America

abuse@vnucleus.com</pre>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Termination</span></h3>
    <p>You agree that if you wish to terminate a service you will do so by submitting a cancellation request in our portal. You understand and agree that all cancellations are non-reversible and once completed all your data is permanently deleted from our systems. Once cancellation of a Virtual Private Server is complete your account will receive a credit for the remaining pre-paid time on the cancelled Virtual Private Server. If your account qualifies for the "15-Day Money Back Guarantee" then you will be refunded for that month once your account termination has been completed. This refund only encompasses clients who have had their accounts for 15 days or less. Accounts terminated after the 15-Day period will not be refunded. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Billing and Payment</span></h3>
    <p>You agree to supply a valid payment for the services received from us, in advance of the time period during which such services are provided. You agree that all fees, domain fees, deposits and setup fees are non-refundable. You agree that until and unless you submit a cancellation request for your services those services will be billed on a recurring basis. You agree that payments will be billed and charged automatically, and that we may apply the amount due to the provided card at any time. You agree that you will keep your account information updated, so that betaforce networks, llc can notify you of transactions on your account. </p>
    <p>Virtual servers are subject to suspension 7 days and termination 21 days past-due.</p>
    <p>Free backup service is not offered on accounts with legacy pricing from prior to our fully managed launch. In order to enroll in backups, your pricing will have to be adjusted to our current pricing model.</p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Affiliates</span></h3>
    <p>betaforce networks, llc reserves the right to disqualify an affiliate account or commission for any reason at any time.</p>
    <p>Affiliate commissions are made on the 1st of the month as well as 3 months after an account is converted from an affiliate link and are based on the current monthly rate of the converted account. Commissions made on the 1st of the month are a recurring 5% of the referral monthly rate, and commissions made on the 3 month mark are a one time 100% commission. Payouts will be granted once a month at maximum, provided that your account's credit balance exceeds $100. Smaller payouts will not be made.</p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Indemnification</span></h3>
    <p>You agree that you shall defend, indemnify, save and hold betaforce networks, llc harmless from any and all demands, liabilities, losses, costs and claims, including reasonable attorney's fees asserted against betaforce networks, llc its agents, its customers, officers and employees, that may arise or result from any service provided or performed or agreed to be performed or any product sold by you, your agents, employees or assigns. You agree to defend, indemnify and hold harmless betaforce networks, llc against liabilities arising out of; (1) any injury to person or property caused by any products sold or otherwise distributed in connection with betaforce networks, llc server; (2) any material supplied by customer infringing or allegedly infringing on the proprietary rights of a third party and (3) copyright infringement. You agree to limit the liability of betaforce networks, llc to the amount paid for service. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Ticket Usage</span></h3>
    <p>You agree to submit support requests with an appropriate priority. Critical tickets are only to be used in the event of a currently occurring unscheduled service outage that impacts your service. Submitting a critical priority support ticket for any reason other than a currently occurring unscheduled service outage may result in a $20 service fee being assessed to your account.</p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Disclaimer</span></h3>
    <p>betaforce networks, llc will not be responsible for any damages your business may suffer. betaforce networks, llc makes no warranties of any kind, expressed or implied for services we provide. betaforce networks, llc disclaims any warranty or merchantability or fitness for a particular purpose. This includes loss of data resulting from delays, non-deliveries, wrong delivery, and any and all service interruptions caused by betaforce networks, llc and its employees. </p>
    <p>In no event shall betaforce networks, llc be liable to you or any other person, firm or entity in any respect, including, without limitation, for any damages, either direct, indirect, consequential, special, incidental, actual, punitive, or for any other damages, or for any lost profits of any kind or nature whatsoever, arising out of mistakes, accidents, errors, omissions, negligence, interruptions or defect in transmission, or delays, including, but not limited to, those which may be caused by regulatory or judicial authorities arising out of or relating to this agreement or the obligations of betaforce networks, llc pursuant to this agreement. </p>
    <p>Any failure or delay in the enforcement of these policies shall not constitute a waiver of the policy or of any other right or remedy. If any provision of this agreement is determined to be invalid or unenforceable, all other provisions shall remain in full force and effect and said provision shall be reformed only to the extent necessary to make it enforceable. </p>
    <p>betaforce networks, llc furthermore expects that its customers who provide Internet services to others will fully comply with all applicable laws concerning the privacy of online communications. A customer's failure to comply with those laws will violate this policy. Finally, betaforce networks, llc wishes to emphasize that in accepting services, customers indemnify betaforce networks, llc for the violation of any law or betaforce networks, llc policy, that results in loss to betaforce networks, llc or the bringing of any claim against betaforce networks, llc. This means that if betaforce networks, llc. is sued because of activities of the customer that violate any law, or this policy, the customer will pay any damages awarded against betaforce networks, llc, plus costs and reasonable attorneys' fees. </p>
    <p>Your use of betaforce networks, llc services is at your sole risk. betaforce networks, llc is not responsible for files and data residing on your account. It is solely your responsibility to evaluate the accuracy, completeness, and usefulness of all opinions, advice, services and other information, and the quality and merchantability of all merchandise provided through betaforce networks, llc or on the Internet generally. You agree to take full responsibility for files and data transferred and to maintain all appropriate backup of files and data stored on betaforce networks, llc servers. You understand that by placing information on our servers that such information may become available to all Internet users and that betaforce networks, llc has no way of limiting or restricting access to such information or protecting such information from copyright infringement. You assume total responsibility and risk for your use of our servers and the Internet. betaforce networks, llc makes no warranty, whether express, implied or statutory, as to the description, quality, merchantability, completeness or fitness for any purpose for the service or product, or as to any other matter, all of which warranties by betaforce networks, llc are hereby excluded and disclaimed. </p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Service Credits</span></h3>
    <p>betaforce networks, llc guarantees 99.99% network availability. If a customer experiences network unavailability for more than 5 consecutive minutes during a calendar month due to a fault of betaforce networks, llc's network, the customer is eligible for 8 hours of service credit per 5 minutes of down time, up to a maximum of the customer's monthly run-rate.</p>
    <p>betaforce networks, llc guarantees 99.99% infrastructure availability. If a customer experiences infrastructure unavailability for more than 5 consecutive minutes during a calendar month due to a fault of betaforce networks, llc's infrastructure, the customer is eligible for 8 hours of service credit per 5 minutes of downtime, up to a maximum of the customer's monthly run-rate. Infrastructure includes power delivery, cooling systems, and facilities.</p>
    <p>Service credits are not available for planned maintenance periods.</p>

</div></div><div class="landing-section"><div class="container">

    <h3><span>Acknowledgement</span></h3>
    <p>betaforce networks, llc reserves the right to modify this agreement at any time, effective immediately upon posting of the modification. Under the terms of this agreement, your use or continued use of our products and services is an acknowledgement that you have read, understand, and agree to be bound by terms and conditions in effect at the time of your use. </p>

</div></div>
